body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .Calculator {
        background-color: #3498db;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        width: 300px;
        padding: 20px;
    }

    .Display {
        background-color: #2c3e50;
        color: white;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .Row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    button {
        background-color: #2980b9;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    #InputBox {
        background-color: #f0f0f0; /* Set the same color as the calculator background */
        border: none;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        color: rgb(8, 8, 8); /* Set text color to white */
    }

.extra{
    margin-right: -87px;
}